body{
    background:  #844430f3;
    margin: 0;
    display: flex;
    justify-content: center;
    
}
@font-face{
    font-family: ISOCPEUR_it;
    src: url(fonts/ISOCPEUR_it.ttf);
}
@font-face{
    font-family: cuyabra;
    src: url(fonts/cuyabra-Regular\ [RUS\ by\ Zephyrus].ttf);
}
.container{
    display: flex;
    flex-direction: column;
    width: 1650px;
}
.header{
    width: 100%;
    height: 540px;
    background-image: url(img/компьютер.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;  
    display: flex;
    justify-content: center;
}
.main{
    font-family: cuyabra;
}
.text-header{
    color:rgba(255, 218, 207, 0.71);
    font-family: ISOCPEUR_it;
    font-size: 200px;
    letter-spacing: 11px;
    line-height: 150px;
    margin: 0;
    display: flex;
    text-align: center;
} 
.text-main{
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    color: #D88888;
    

}
.block-main{
    background-color:#4F3861;
    display: flex;
    height: 800px;
    justify-content: space-evenly;
    margin-top: 90px;
    border-radius: 45px;
    align-items: center;
}
.block-main-text{
    width: 460px;
    height: 750px;
    font-size: 44px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.62);
}
.block-main-img{
    overflow: hidden;
    width: 940px;
    height: 750px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
@keyframes go-left-right {        
    from { left: -700px; }             
    to { left: 0px } 
  }
  @keyframes go-left-right2 {        
    from { left: 0px; }             
    to { left: -700px } 
  }
.img1{
    width: 839px;
    height: 370px;
    background-color: antiquewhite;
    border-radius: 40px;
    position: relative;
    animation: go-left-right 30s infinite alternate;
}
.img2{
    width: 839px;
    height: 370px;
    background-color: antiquewhite;
    border-radius: 40px;
    margin-left: 849px;
}
.img3{
    width: 839px;
    height: 370px;
    background-color: antiquewhite;
    border-radius: 40px;
    position: relative;
    margin-top: 10px;
    animation: go-left-right2 30s infinite alternate;
}
.img4{
    width: 839px;
    height: 370px;
    background-color: antiquewhite;
    border-radius: 40px;
    margin-left: 849px;
}
.img5{
    width: 839px;
    height: 490px;
    background-color: antiquewhite;
    border-radius: 40px;
    position: relative;
    animation: go-left-right 30s infinite alternate;
}
.img6{
    width: 839px;
    height: 490px;
    background-color: antiquewhite;
    border-radius: 40px;
    margin-left: 849px;
    position: relative;
}
.img7{
    width: 839px;
    height: 490px;
    background-color: antiquewhite;
    border-radius: 40px;
    margin-left: 849px;
    position: relative;
}
.block2-main{
    background-color:#4F3861 ;
    height: 813px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.block2-main-text{
    font-size: 44px;
    color: rgba(255, 255, 255, 0.62);
    display: flex;
    text-align: center;
}
.block2-main-img{
    height: 490px;
    width: 96%;
    overflow: hidden;
}





